<article class="shared-full-view customers-root">
  <section class="customers-root-menu">
    <div class="list-group">
      <a routerLink="/customers/list"
         routerLinkActive="customers-root-menu-item-active"
         class="list-group-item list-group-item-action customers-root-menu-item"
         id="listCustomer">Customers</a>
      <a routerLink="/customers/create"
         routerLinkActive="customers-root-menu-item-active"
         class="list-group-item list-group-item-action customers-root-menu-item"
         id="newCustomer">Register a customer</a>
    </div>
  </section>
  <section class="customers-root-body">
    <router-outlet></router-outlet>
  </section>
</article>

<img src="../../../assets/images/carousel-img1.jpg" alt="background" class="shared-full-view customers-root-bg">
